body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  position: relative;
  max-width: 130vh;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 1;
}

.notes-list {
  margin-top: 5vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

textarea {
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  justify-content: right;

}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}
.form-control{
  margin: 1;
  min-width: 120; 
  margin-bottom: '30px';
}
.character-limit {
  justify-content: left;
}

.delete-icon {
  align-items: center;
  cursor: pointer;
}


.brand-icon {
  align-items: center;
  margin: 10px 10px;
  color:#3792c0;
  border-radius: 8px;
  padding: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.color-icon {
  margin-right: 2rem;
  cursor: pointer;
}

.create-folder{
  cursor: pointer;
}
.delete-folder{
  cursor: pointer;
}
.folder-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.folder{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.color-container {
  display: flex;
  align-items: center;
  min-height: 100px;
  max-width: 150px;
  margin-left: .3rem;
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.color-options {
  display: grid;
  margin-left: .3rem;
  grid-gap: 1rem;
  grid-template-rows: 35px 35px;
  grid-template-columns: 35px 35px 35px;
}

.item--1 {
  border-radius: 50%;
  background-color: #ab82d4;
}

.item--1:hover {
  background-color: #6b5680;
}

.item--2 {
  border-radius: 50%;
  background-color: #FEC8D8;
}

.item--2:hover {
  background-color: #9c6575;
}

.item--3 {
  border-radius: 50%;
  background-color: #FFDFD3;
}

.item--3:hover {
  background-color: #c9aba1;
}

.item--4 {
  border-radius: 50%;
  background-color: #4DBCF0;
}

.item--4:hover {
  background-color: #2d7697;
}

.item--5 {
  border-radius: 50%;
  background-color: #FEC184;
}

.item--5:hover {
  background-color: #b48658;
}

.item--6 {
  border-radius: 50%;
  background-color: #F07878;
}

.item--6:hover {
  background-color: #af5454;
}

.search {
  margin-top: 1vh;
  margin-left: 4rem;
  height: 3vh;
  width: 60vh;
  display: flex;
  background-color: rgb(218, 218, 210);
  border-radius: 10px;
  padding: 5px;
  align-items: center;
}

.search input {
  border: none;
  resize: none;
  background-color: rgb(218, 218, 210);
}

.search input:focus {
  outline: none;
}

.toggle {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1vh;
}

.header {
  display: flex;
  flex-direction:row;
  align-items: center;
  
}

.dark-mode {
  background-color: rgb(59, 57, 57);
}

.light-mode {
  background-color: rgb(247, 245, 245);
}

.dark-mode h1 {
  color: white;
}